@font-face {
    font-family: Arial Rounded MT Bold;
    src: url('../fonts/ARLRDBD.ttf');
} 

body {
	font-family: "Arial Rounded MT Bold";
	src: url(ARLRDBD.ttf);
	background: url('../img/bg.png') no-repeat fixed;
	background-position: center;
	background-size:cover;
	background-color: #fff;
	margin-left:0px;
	margin-right:0px;
	overflow-x: hidden;
	overflow-y: hidden;
}
#wrapper {
	background-color: transparent;
	width: 100%;
}
#page-wrapper {
	padding: 0 15px;
	min-height: 620px;
	background-color: transparent;
	margin-bottom: 0px;
    margin: 0 50px 0 150px;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    padding: 40px 30px;
    }
}

#map {
    height: 500px;
	width:75%;
}

a {
	cursor: pointer;
}

em {
	color: #737373;
}

img {
	margin-top: -7px;
    max-width: 100%;
    height: auto;
}

.btn-sub {
	width: 100%;
	margin: 15px 0 0 0;
	font-size: 14px;
	color: #fff;
	background: #00cc66;
	border: 1px solid #00cc66;
	transition-property: background;
	transition-duration: .5s;
	transition-timing-function: linear;
}

.btn-sub:hover {
	color: #00cc66;
	background: #fff;
	border: 1px solid #bfbfbf;
}	

.box {
	height: 350px;
	background-color: #b31919;
	margin-top:-8px;
	margin-bottom:60px;
	margin-left:-8px;
	margin-right:-8px;
	color: #fff;
}

.in {
	padding-right:50px;
}

.panel-footer {
  background-color: transparent;
  height: 400px;
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;"
}

.panel-blue {
  border-color: #5c8a8a;
}
.panel-blue > .panel-heading {
  border-color: #5c8a8a;
  color: white;
  background-color: #5c8a8a;
}
.panel-blue > a {
  color: #5c8a8a;
}
.panel-blue > a:hover {
  color: #800000;
}
.panel-green {
  border-color: #40bf80;
  height: 460px;
}
.panel-green > .panel-heading {
  border-color: #40bf80;
  color: white;
  background-color: #40bf80;
}
.panel-green > a {
  color: #40bf80;
}
.panel-green > a:hover {
  color: #800000;
}
.page-header {
	color: #a6a6a6;
}
.modal-header {
	background-color: #5c8a8a;
	color: #fff;
	border-radius: 5px;
}
.modal-body {
	height: 550px;
	width: 600px;
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;"
}
.navbar-brand {
	margin-left: 15px;
	color: #fff !important;
}
.navbar.navbar-default.navbar-fixed-top {
	background-color: #5c8a8a;
}
.nav.navbar-nav.navbar-right li a {
	color: #ffffff !important;
	transition-property: background;
	transition-duration: .2s;
	transition-timing-function: linear;
}
.nav.navbar-nav.navbar-right li a:hover {
	color: #d9d9d9 !important;
}
.sidebar .sidebar-nav.navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}
.sidebar {
	border-right: 1px solid #e7e7e7;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar-nav.navbar-collapse li a {
	color: #5c8a8a !important;
	transition-property: background;
	transition-duration: .2s;
	transition-timing-function: linear;
}
.sidebar-nav.navbar-collapse li a:hover {
	color: #339966 !important;
}
.sidebar ul li a.active {
  background-color: #eeeeee;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 120px;
    margin-top: 51px;
	height: 1000px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}
.table .table-scroll .table-hover .table-fixed {
	height: 100%;
}
.table-scroll tbody{
    position: absolute;
    overflow-y: scroll;
    height: 230px;
	width: 85%;	
}
.list-group{
	position: absolute;
    overflow-y: scroll;
    height: 380px;
	width: 80%;
}
.table-scroll tr {
    width: 100%;
}
.list-group-item {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 50px;
}
